<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>滷味</title>
  </head>


  <body>

  <div id="here"><h2>總金額 : {{total_price0}} </h2>
    {% for i in result %}
    <h3>{{i}}</h3>
    {% endfor %}

    <div id="check_commit">
      <button onclick="myFunction2()" type="button" ><img src="static/ok.png" width="50" height="50"></button>
      <button onclick="myFunction3()" type="button" ><img src="static/cancel.png" width="50" height="50"></button>
    </div>
  </div>

    <script>
function myFunction2()
{
  $.post("/commit_order");
  $("#check_commit").load("/commit_order")

setTimeout('Refresh()',1000);
};
    </script>
    <script>
function myFunction3()
{
  $.post("/cancel_order");
  $("#check_commit").load("/cancel_order")

setTimeout('Refresh()',1000);
};
    </script>

  </body>
</html>